## Exercícios

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Contém informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases responda:

a) Quais foram os produtos vendidos?

In [2]:
import numpy as np
import pandas as pd

In [8]:
df_customer = pd.read_csv("data/customer.csv")
df_products = pd.read_csv("data/products.csv")
df_sales = pd.read_csv("data/sales.csv")
print (df_sales)

   sale_id  c_id  p_id  product  qty store
0        1     2     3  Monitor    2   ABC
1        2     2     4      CPU    1   DEF
2        3     1     3  Monitor    3   ABC
3        4     4     2      RAM    2   DEF
4        5     2     3  Monitor    3   ABC
5        6     3     3  Monitor    2   DEF
6        7     2     2      RAM    3   ABC
7        8     3     2      RAM    2   DEF
8        9     2     3  Monitor    2   ABC

In [9]:
vendidos = df_sales['product'].unique()
vendidos

array(['Monitor', 'CPU', 'RAM'], dtype=object)

b) E os não vendidos?

In [13]:
produto = df_products['product'].unique()
nao_vendidos = np.isin(produto, vendidos, invert=True)
nao_vendidos = produto[nao_vendidos]
nao_vendidos

array(['Hard Disk', 'Keyboard', 'Mouse', 'Motherboard', 'Power supply'],
      dtype=object)

c) Quais foram as cinco maiores vendas? Salve essas vendas em um arquivo excel.

In [16]:
maiores_vendas = sales.sort_values('qty', ascending=False)
maiores_vendas.head(5)

   sale_id  c_id  p_id  product  qty store
2        3     1     3  Monitor    3   ABC
4        5     2     3  Monitor    3   ABC
6        7     2     2      RAM    3   ABC
0        1     2     3  Monitor    2   ABC
3        4     4     2      RAM    2   DEF

In [17]:
maiores_vendas.to_excel('./data/maiores_vendas.xlsx')

d) Liste a quantidade vendida de cada produto. Utilize um loop for para isso.

In [18]:
for i in sales['product'].unique():
    print(i, sales[sales['product']==i].qty.sum())

Monitor 12
CPU 1
RAM 7

e) Liste a quantidade vendida de cada loja.

In [19]:
for i in sales['store'].unique():
    print(i, sales[sales['store']==i].qty.sum())

ABC 13
DEF 7

f) Liste a quantidade vendida de cada produto por loja.